

#dow{
    margin-left:5%;
}

.underline_dotted{
        border-bottom: 1px black dashed;
}

.underline {
    /* border-bottom: 3px black solid; */
    text-decoration: underline;
    font-weight:bold;
  }

  #card {
    border-left-color: rgba(0, 0, 0, 0.125);
    border-left-style: solid;
    border-left-width: 1px;
    margin-right:2%;
    text-align:center;
  }